 <!-- <p>engagement-questions works!</p> -->
<body>
    <br>
<tr> 1.Which of the below options apply to the third party as part of this product or service?</tr>  
  <tr>  2.Is this third-party engagement a Software Purchase Only (to be PNB MetLife hosted) - Software development or purchase (including commercial off-the-shelf) to be hosted in a PNB MetLife controlled environment (including PNB MetLife-owned datacenters and PNB MetLife-operated cloud environments)?</tr>
  <tr> 3.Will this third party provide a software solution/application (Application Service Provider) that will be hosted on the third-party's infrastructure or in the cloud?</tr>
  <tr> 4.Will this third party be providing In-House Contracted/Consultant Services - Consultants and/or contract personnel ?</tr>
  <tr>5.Is this service categorized as 'Outsourced activity' as per PNB MetLife Ethics and Compliance team?</tr>
  <tr> 6. Will this third party be providing Legal Support Services (third party providing legal support services)?</tr>
  <tr>7.Will this third party be acting as a Third-Party Administrator / Entity to PNB MetLife or a PNB MetLife customer?</tr>
  <tr>8.Will this third party be providing a Broker Service?</tr>
  <tr>9.Will this engagement access, store or process group customer data?</tr>   
  <tr>10.Does the engagement involve IT capabilities or components* having direct or indirect interaction with Social Media Platforms* to service PNB MetLife customers, associates, or other business partners. If any response is "Yes", please contact ITRS (ITRS@pnbmetLife.com) to notify them of this activity and engagement.
    <tr>11.Will this third party be providing or utilizing cloud services to store, process, or transfer data?</tr>
     <tr> 12.Please select the name of the Cloud Service Provider who will be providing hosting services as part of this engagement. If Other, please specify in the Additional Information.
        <tr> 13.What cloud service model will be used to host this product or service in the cloud?</tr>
        <tr> 14.What type of cloud environment will be used in this engagement?</tr>
        <tr> 15.What is the expected annual number of data records to be accessed, collected,  processed, or stored by this third party?</tr>
        <tr> 16.Is this product, service, or application accessible via the internet?</tr>
        <tr> 17.Is this product, service, or application accessible via the PNB MetLife intranet?</tr>
        <tr>18.Is this product, service, or application accessible via a mobile application?</tr>
        <tr> 19.Will any actions be performed in this engagement involving customer payment card information?</tr>  
        <tr> 20.Will any of the following other confidential or restricted information be accessed, processed, stored, or transmitted by this third-party product or service?</tr> 
        <tr> 21.For this engagement will the product or service be accessed or have data transferred that will be publicly accessible via the internet, hosted by the third party?</tr>
        <tr> 22.For this engagement will the product or service be accessed or have data transferred that will be publicly accessible via the internet, hosted by PNB MetLife?</tr>
        <tr> 23.For this engagement will the product or service be accessed or have data transferred that will be accessible only via the PNB MetLife intranet (can only be accessed from PNB MetLife's network)?</tr>
        <tr> 24.For this engagement will the product or service be accessed or have data transferred through a mobile application (e.g., Android, iOS)?</tr>
        <tr>25.For this engagement will the product or service be accessed or have data transferred through email messages and attachments?</tr>
        <tr>26.For this engagement will the product or service be accessed or have data transferred through another method not described above?</tr>
        <tr> 27.Customers and/or the general public may freely access this product or service (e.g., public internet content with no login required)?</tr>
        <tr>28.Customers may be asked to authenticate to access certain portions of this product or service (e.g., customer login required)?</tr>
        <tr>29.Customers and/or the general public may be sent information by this product or service (e.g., email, text message, direct mail)?</tr>
        <tr>30.Select how authentication will be performed for PNB MetLife employees accessing this product or service.?</tr>
        <tr>31.Are the legal, regulatory, or contractual requirements for PCI (Payment Card Industry) in scope for this engagement?</tr>
        <tr>32.Are the legal, regulatory, or contractual requirements for SOX (Sarbanes-Oxley Act) in scope for this engagement?</tr>
        <tr>33.Are the legal, regulatory, or contractual requirements for the SSAE 18 or SOC Report in scope for this engagement?</tr>
        <tr>34.Are any other legal, regulatory, or contractual requirements in scope for this engagement?</tr> 
        <tr>35.Will this third party connect to PNB MetLife's network via Remote Access (VPN, Citrix, point to point, site to site)?</tr> 
        <tr>36.Will this third party connect to PNB MetLife's network via another method than those listed in the above questions?</tr>
        <tr>37.Will this third party have periodic or ongoing access and/or the ability to directly and independently make changes to a service, platform, or application PNB MetLife is purchasing?</tr>
        <tr>38.Will this third party be able to directly and independently make changes to the service, platform, or application without PNB MetLife's approval?</tr>
        <tr>39.Is the engagement with the third party?</tr>
        <tr>40.Will the third party process any data considered personal information?</tr>  
        <tr>41.Whose personal information will be processed by the third party.?</tr>
        <tr>42.Where are you collecting the personal information you are processing?</tr> 
        <tr>43.What is the business purpose for processing personal information by the third party?</tr>
        <tr>44.Please select the region(s) of residence of the individuals whose personal information will be processed by the third party?</tr>
        <tr>45.Where is the legal entity being engaged (the third party) located?</tr> 
        <tr>46.Is personal information being transferred to the third party and/or its fourth party subcontractors (rather than the third party only being given external access rights)?</tr>
        <tr>47.Will the individuals' personal information be processed in a country different from the individuals' country of residence?</tr>
        <tr>48.Please select the country/ies in which the personal information will be processed by the third party.?</tr>
        <tr>49.Will the third party (or any party involved in this service/product) conduct marketing to individuals using any of the personal information?</tr>
        <tr>50.Will the third party use personal information for any of the following purposes.?</tr>
        <tr>51.Will the third party and/or their subcontractors process personal information use the following?</tr> 
        <tr> 52.Will the third-party receive any additional benefit, including non-monetary gain, or otherwise leverage the personal information being processed for any purpose outside the terms of this engagement?</tr>   
        <tr> 53.For the Law Department is engaged, please provide the individual(s) contact information including email.?</tr>
        <tr> 54.What General Identification and Contact Information will the third party process?</tr>   
        <tr>55.What Government - Issued Identification Numbers will the third party process?</tr>   
        <tr> 56.What Financial Information will the third-party process?</tr>   
        <tr>57.What Sensitive Information will the third-party process?</tr>  
        <tr>58.What Technical Identifiers will the third-party process?</tr>   
        <tr>59.What Biometric Information will the third-party process?</tr>   
        
 </body>
