
<mat-toolbar color ="primary" class="menu-bar">
  <span style="color: white">  Assessment Part 1 Report</span>
   </mat-toolbar>

<body>
    <div class="spacer">
  <a mat-raised-button color="primary" routerLink="Engagement Information" style="color: white; margin-right: 10px;" >Engagement Information</a>
  <a  mat-raised-button color="primary" routerLink="Contact Information" style="color: white;margin-right: 10px;"> Contact Information</a>
  <a  mat-raised-button color="primary" routerLink="Vendor Profile"style="color: white; margin-right: 10px;">Vendor Profile</a>
  <a  mat-raised-button color="primary" routerLink="Engagement Questions"style="color: white; margin-right: 10px;">Engagement Questions</a>
</div>
</body>