.spacer{
    flex: 1 1 auto ;
}
.menu-bar
{
    background-color:  black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
     
}
.body
{
 
/* background-size: cover; */
background-position: center;
box-sizing: border-box;
font-family: sans-serif;
}
.spacer{
    text-align: center;
    display: flex;
    
  
       /* align-items: center; */
  
      justify-content: center; 
    flex: 1 1 auto ;
}
  .spacer a::marker{
color: red;
  }
.span{
text-shadow: 20px;
}
::ng-deep .mat-raised-button{
  
  background: linear-gradient(90deg,#4776e6,#8e54e9);
  color: #fff;
  border-radius: 20px;
}